.movie {
	display: flex;
	width: 555px;
	margin: auto;
	background: #111111;
	opacity: 0.8;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 15px 20px 15px 15px;
}

.movie--image {
	min-width: 95px;
	height: 141px;
	border-radius: 8px;
	background-color: #fff;
	margin: 0;
	margin-right: 20px;
	cursor: pointer;
	text-decoration: none;
}

.movie--image img {
	height: 100%;
	border-radius: 10px;
}

.movie--title {
	width: 100%;
	padding-top: 15px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.move--title_desc {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.movie--title_desc-name {
	font-weight: 700;
	font-size: 24px;
	/* margin-bottom: 13px; */
	cursor: pointer;
	text-decoration: none;
	color: #fefefe;
}
.movie--title_desc-text {
	display: flex;
	font-weight: 400;
	font-size: 14px;
	margin: 13px 0 15px 0;
}
.movie--title_desc-text div {
	margin-right: 10px;
}

.movie--title_desc-text .type,
.movie--title_desc-text .genre {
	border-right: 1px solid;
	padding-right: 15px;
}

/* .movie--title_desc-rating {
	display: flex;
	font-weight: 900;
	font-size: 12px;
	background-color: #fac539;
	color: #000000;
	padding: 8px 12px;
	border-radius: 8px;
	width: 87px;
	height: 30px;
	box-sizing: border-box;
} */

/* .movie--title_desc-rating .imdb {
	margin-right: 8px;
} */

.movie--title_awards {
	width: 300px;
	font-weight: 400;
	font-size: 12px;
	margin-top: 15px;
}

.movie--title_awards .wrapper {
	display: flex;
}

.movie--title_awards .wrapper .top {
	padding-right: 6px;
	border-right: 1px solid;
}

.movie--title_awards .wrapper .won {
	padding-left: 6px;
}
